<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    
    <title>Gloth ordonnance</title>
</head>
<body> 
    <header>
        <h1>
            <a href="medic.html">Gloth</a>
        </h1>
    </header>   
    <div class="container cont">
        <div class="container con">
            ID médecin
            <br>
            Nom Prénom médecin
            <br>
            Téléphone
            <br>
        </div>
        <div class="container co">
            Cabinet medical 
            <br>
            Adresse Medecin
            <br>
            Code Postal
        </div>
        <div class="container c">
            Contenu ordonnance:
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod iusto in quas laborum. Laudantium optio sint dignissimos nam tenetur maxime quod eum eligendi. Sapiente laborum veritatis asperiores quis nobis eveniet?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quia expedita natus porro repellendus soluta autem, necessitatibus distinctio recusandae accusantium eos corporis, eius voluptatibus dolore sit asperiores. Facere, sequi repudiandae!</p>
        </div>
        
        
    </div>
    <input type="button" class="button btn btn-secondary btn-lg"value="Envoi">
    

</body>
</html>